@import "404";
@import "typography";

.page-id-423{
  .page .entry-content h6:first-child {
    margin-top: 30px;
  }
  .breadcrumbs .container{
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar-primary {
    padding-top: 30px;
  }
}
