#tm_builder_outer_content {
  .tm_pb_module.tm_pb_accordion {
    .tm_pb_toggle_title {
      margin: 0;
      font-size: 17px;
      &:before {
        font-size: 20px;
      }
    }

    .tm_pb_toggle {
      border-radius: 3px;
      padding: 23px 25px 24px 25px;
      margin-bottom: 20px;
    }

    .tm_pb_toggle_content {
      padding-top: 5px;
      p{
        margin-bottom: 0;
      }
    }
  }
}