#tm_builder_outer_content {
  .tm_pb_widget_area {

    .btn {
      color: #fff;
    }

    table tfoot td {
      border: none;
    }
  }
}
#tm_builder_outer_content .tm_pb_widget_area .widget_calendar table, #tm_builder_outer_content .tm_pb_widget_area #wp-calendar {
  table-layout:auto !important;
}