.tm_pb_builder {

  #tm_builder_outer_content {

    .tm_pb_slider .tm_pb_container {
      max-width: 1170px;
    }

    .tm_pb_module h1 {
      span {
        font-weight: 300;
      }
    }
    .tm_pb_slider div.tm_pb_slide.tm_pb_slide_0 {

      .tm_pb_slide_description {
        padding: 21.5% 8% 22.2%;
      }
    }

    .tm_pb_slider.custom-swiper {
      .tm_pb_slide_content {
        padding: 0 30px;
      }
    }

    .tm_pb_module h5 {
      font-style: normal;
      margin-top: 5px;
    }

    .tm-pb-active-slide .tm_pb_slide_description,
    .tm_pb_slider div.tm_pb_slide {
      text-align: left;

      h5 + p {
        margin-top: 23px;
      }
    }
    .tm_pb_slide_content p {
      font-size: 18px;
      font-weight: 400;
      a.fa {
        margin-top: 11px;
        font-size: 35px;
        margin-bottom: 24px;
        @include media-breakpoint-up(md) {
          font-size: 80px;
        }
        font-weight: 700;
        line-height: 1.1;
        @include transition(.3s ease all);
        &:before {
          pointer-events: none;
          text-align: center;
          font-size: 50px;
          line-height: 80px;
          font-family: FontAwesome;
          display: inline-block;
          border: 2px solid;
          height: 80px;
          width: 80px;
          border-radius: 50%;
          margin-right: 20px;
        }
      }
    }

    .tm_pb_fullwidth_slider_0.tm_pb_slider .tm_pb_slide_description h2.tm_pb_slide_title {
      font-size: 30px;
      font-weight: 700;
      line-height: 34px;
      max-width: 500px;
      padding-bottom: 21px;
    }

    a.tm_pb_button {
      @extend .btn;
      &::after {
        display: none;
      }
    }

    .tm-pb-slider-arrows {
      .tm-pb-arrow-prev,
      .tm-pb-arrow-next {
        @include media-breakpoint-up(sm){
          display: inline-block;
        }
        display: none;
        height: 51px;
        width: 51px;
        border-radius: 50%;
        opacity: 1;
        box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.08);
        @include transition(.3s ease all);
        &:hover {
          box-shadow: none;
        }
        &:before {
          font-size: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          @include translate(-50%, -50%);
        }
      }
      .tm-pb-arrow-prev {
        left: 30px !important;
        &:before {
          content: '\f104';
        }
      }
      .tm-pb-arrow-next {
        right: 30px !important;
        &:before {
          content: '\f105';
        }
      }
    }

    .tm-pb-controllers {
      bottom: 40px;
      @include media-breakpoint-up(lg) {
        bottom: 96px;
      }

      @media (min-width: 1350px) {
        position: absolute;
        left: 50%;
        margin-left: -590px;
        text-align: left;
      }
      > a {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        position: relative;
        vertical-align: middle;


        &::before {
          content: '';
          position: absolute;
          height: 10px;
          width: 10px;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          transform: translate(-50%, -50%) scale(1);
          transition: .3s all ease;
        }

        &.tm-pb-active-control::before, &:hover:before {
          transform: translate(-50%, -50%) scale(1.2);
        }

      }
    }
  }
}

#tm_builder_outer_content .tm_pb_slider_fullwidth_off .tm_pb_slide_description {
  margin: 0 -8% !important;
}