.share-btns__link{
	color: $regular_accent_color_1;
}

.share-btns__link:hover,
.share-btns__link:active,
.share-btns__link:visited{
	color:$regular_link_hover_color;
}

.share-btns__link:hover {
	color: $invert_text_color;
	background: $regular_accent_color_1;
}

.social-list--footer li > a:hover { color: $regular_accent_color_1; }
.social-list--footer li > a:hover::before { background-color: @alpha( $regular_accent_color_1, 10 ); }