button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include button;

  &:hover {
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.btn {
  @include button;
  font-weight: 400;
  border: 2px solid;
  letter-spacing: 1px;
  background: transparent;
  &__text,
  &__icon {
    display: inline-block;
    vertical-align: top;
  }
  &__icon {
    @include material-icon();
    font-size: 1.5em;
    line-height: inherit;
    &:before {
      content: '\E5C8';
    }
  }
  &.btn-fullwidth {
    width: 100%;
    text-align: center;
  }

  &.btn-offset-1 {
    margin-bottom: 20px;
    @media (min-width: 544px) {
      margin-bottom: 30px;
    }
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
  }
}

.btn.with_bg {
  @extend .btn;
  font-size: 16px;
  padding: 18px 44px;
  text-transform: none;
  border: none;
  letter-spacing: 0;
}

.btn.btn-invert {
  @extend .btn;
  font-size: 16px;
  text-transform: none;
  border: none;
}

a {
  @include transition(.3s ease all);
}