#tm_builder_outer_content .tm_pb_with_background .tm_pb_module.tm_pb_blurb a:hover{
    color: $regular_text_color !important;
}

#tm_builder_outer_content .tm_pb_module.tm_pb_blurb a:hover {
    color: $regular_link_hover_color;
}

#tm_builder_outer_content .service-info .tm_pb_blurb .tm_pb_blurb_content h4 a{
    color: $regular_text_color;
}

#tm_builder_outer_content .service-info .tm_pb_blurb .tm_pb_blurb_content h4 a:hover {
    color:  $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_module.tm_pb_blurb .tm-pb-icon:hover {
    background: $regular_accent_color_1 !important;
    border-color: $regular_accent_color_1 !important;
}

#tm_builder_outer_content .tm_pb_module.tm_pb_blurb.liner .tm_pb_blurb_content .tm_pb_blurb_content{
    background: @alpha($regular_accent_color_1, 90);
}

#tm_builder_outer_content .tm_pb_module.tm_pb_blurb.liner .tm_pb_blurb_content .tm_pb_blurb_content h5, #tm_builder_outer_content .tm_pb_module.tm_pb_blurb.liner .tm_pb_blurb_content .tm_pb_blurb_content p {
    color: #fff;
}

#tm_builder_outer_content .tm_pb_module.tm_pb_blurb .tm-pb-icon-circle:hover {
    color: #fff !important;
}
#tm_builder_outer_content .tm_pb_module.tm_pb_blurb .tm-pb-icon {
    color: $regular_link_color;
}